.inputCheckbox:focus {
  outline-offset: 0.2rem;
}

.inputCheckbox {
  padding: 0.3rem;
  padding-left: 1rem;
  box-sizing: border-box;
  border-radius: 0.55vw;
  border: none;
  min-width: 10px;
}

.innerContainer {
  display: grid;
}

.boxAfter {
  grid-template-columns: 0.85fr 0.15fr;
}

.boxBefore {
  grid-template-columns: 0.15fr 0.85fr;
}

.Container {
  grid-column: span 2 / auto;
}
