.error {
  margin: 0 0.4rem;
  font-size: 0.7rem;
  color: red;
  display: inline-block;
  overflow: visible;
  white-space: nowrap;
  margin: 0;
  transform-origin: top right;
  top: 0;
  right: 0;
}
